<div class="container">
    <div class="row">
        <div class="col-md-9 col-sm-7 left">  
            <div class="filter" ng-controller="FilterController" style="margin-bottom: 20px;">
                <div class="row" style=" padding-top: 5px;padding-bottom: 5px;">                   
                    <ul>
                        <li class="title"><a class="text-primary">搜索</a></li>
                        <li><input style="width: 400px;" ng-model="doFilter.searchText"/></li>
                        <li class="text-primary" style="float: right;padding-right: 20px;">排序<small>
                                <input type="radio" ng-model="orderProp" value="idx" class="orderProp"/>人气
                                <input type="radio" ng-model="orderProp" value="pcc" class="orderProp"/>人均消费
                                <input type="radio" ng-model="orderProp" value="itemdesc" class="orderProp"/>名称
                            </small>
                        </li>
                    </ul> 
                </div>
                <div class="row" style=" padding-top: 5px;padding-bottom: 5px;">                  
                    <ul>
                        <li class="title"><a class="text-primary">地区</a></li>
                        <li  ng-repeat="f in  town">
                            <a ng-click="addFilterTown(f.area);">{{f.area}}<span class="text-info">({{f.storecount}})</span></a>
                        </li>
                    </ul>
                </div>
                <div class="row" style=" padding-top: 5px;padding-bottom: 5px;">                  
                    <ul>
                        <li class="title"><a class="text-primary">类别</a></li>
                        <li  ng-repeat="f in category">
                            <a ng-click="addFilterCategory(f.category);">{{f.category}}</a>
                        </li>
                    </ul>
                </div>
                <div class="row" style=" padding-top: 5px;padding-bottom: 5px;">
                    <ul>
                        <li class="title"><a class="text-primary">已筛选</a></li>
                        <li  ng-repeat="f in doFilter.filters">
                            <a ng-click="removeFilter(f);">{{f.value}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h6 class="panel-title">
                        <span class="title">金山生活-寻帮忙很简单</span>
                    </h6>
                </div>
                <div class="panel-body">
                    <ul>
                        <li ng-repeat="store in stores| filter: doFilter.filterDetail | filter:doFilter.searchText | orderBy:orderProp" style="float: left;padding: 2px;">
                            <div class="profile">
                                <div class="thumbnail">
                                    <img ng-if="store.logo2" ng-src="app/img/{{store.userid}}/{{store.logo2}}" alt="{{store.name}}">
                                    <img ng-if="!store.logo2" ng-src="app/img/{{store.category}}.png" alt="{{store.name}}">                         
                                </div>
                                <div class="caption">
                                    <h5>
                                        <a href="#/help/{{store.id}}">{{store.name}}</a>                              
                                    </h5> 
                                    <p>  
                                        <span class="content-stars-rank content-stars-{{store.hot}}"></span>
                                    </p>
                                    <h6 class="title">地区:<strong>{{store.town}}</strong><strong>{{store.phone}}</strong></h6>   
                                    <h6 class="title">专长:<span>{{store.feature}}</span></h6>
                                    <span class="label label-primary title">{{store.action}}</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-5 right">
            <hr>
            广告承租!
        </div>
    </div>
</div>
