<div id="topSearch">
    <div class="search_form">
        <form name="search_form1" method="get" action="http://www.baidu.com/baidu" target="_blank" >
            <input type="hidden" value="0" name="myselectvalue">
            <input type="hidden" value="utf-8" name="ie">
            <input type="hidden" name="tn" value="baidu">
            <input type="hidden" name="ct">
            <input type="hidden" name="lm">
            <input type="hidden" name="cl">
            <input type="hidden" name="rn">
            <div align="center" class="search_logo">
                <a href="http://www.baidu.com/">
                    <img border="0" align="bottom" alt="Baidu" src="http://img.baidu.com/img/logo-80px.gif">
                </a>
            </div>                             
            <div class="search_content">
                <span >
                    <input  name="word" id="word" class="search_input">
                    <input type="submit" value="百度一下" class="search_submit">                                       
                </span>
            </div>
        </form>    
    </div>
</div>      
<div class="row">
    <div class="col-md-9" >
        <div id="topNav">
            <div id="weblinks" ng-controller="WebLinksController">
                <div class="panel">
                    <ul class="weblinks">
                        <li ng-repeat="link in weblinks">
                            <a href="{{link.url}}" target="_blank"><img ng-if="link.logo1" ng-src="img/{{link.logo1}}" alt="{{link.name}}"/>{{link.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="content">
            <ul id="myTab" class="nav nav-tabs">
                <li class="active">
                    <a href="#meishiTab" data-toggle="tab" >美食</a>
                </li>
                <li>
                    <a href="#qicheTab" data-toggle="tab" >汽车</a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="meishiTab">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h6 class="panel-title">
                                <span class="title">爱美食</span>
                                <button type="button" class="btn btn-xs btn-success right" ng-click="findMore('meishi')">More</button> 
                            </h6>  
                        </div>
                        <div class="panel-body">
                            <ul>
                                <li ng-repeat="shop in shops | filter:query | orderBy:orderProp" style="float: left;padding: 2px;">
                                    <div class="profile">
                                        <div class="thumbnail">
                                            <img src="app/img/41891491_m.jpg" alt="123">                                
                                        </div>
                                        <div class="caption">
                                            <h5> 
                                                <a href="#/meishi/{{shop.id}}">{{shop.name}}</a><span class="title">人均消费:</span><strong>{{shop.rjxf}}</strong>元<br>                             
                                            </h5>
                                            <p>  
                                                <span class="content-rank-stars content-stars-{{shop.hot}}"></span><br>
                                                <span class="title">特色:</span>{{shop.tese}}<br>
                                                <span class="label label-primary">{{shop.huodong}}</span>
                                            </p>   
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="qicheTab">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h6 class="panel-title">
                                <span class="title">爱阅读</span>
                                <button type="button" class="btn btn-xs btn-success right" ng-click="">More</button> 
                            </h6>
                        </div>
                        <div class="panel-body">                
                            <ul>
                                <li ng-repeat="shop in shops | filter:query | orderBy:orderProp" style="float: left;padding: 2px;">
                                    <div class="profile">
                                        <div class="thumbnail">
                                            <img src="app/img/41891491_m.jpg" alt="123">                                
                                        </div>
                                        <div class="caption">
                                            <h5>
                                                <a href="#/shops/{{shop.id}}">{{shop.name}}</a>                              
                                            </h5>
                                            <p>  
                                                <span class="content-rank-stars content-stars-{{shop.hot}}"></span><br>
                                                <span class="title">人均消费:</span><strong>{{shop.rjxf}}</strong>元<br>
                                                <span class="title">特色:</span>{{shop.tese}}<br>
                                                <span class="label label-primary">{{shop.huodong}}</span>
                                            </p>   
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>
    <div class="col-md-3">
        <div id="webshortcuts"   ng-controller="WebLinksController">
            <div class="panel">
                <ul class="webshortcuts">
                    <li ng-repeat="link in webshortcuts">
                        <a href="{{link.url}}" target="_blank"><img ng-if="link.logo2" ng-src="img/{{link.logo2}}" alt="{{link.name}}"/></a><span>{{link.name}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


