<ul id="myTab" class="nav nav-tabs">
    <li class="active">
        <a href="#meishiTab" data-toggle="tab" >美食</a>
    </li>
    <li>
        <a href="#qicheTab" data-toggle="tab" >汽车</a>
    </li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="meishiTab">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h6 class="panel-title">
                    <span class="title">爱美食</span>
                    <button type="button" class="btn btn-xs btn-success right" ng-click="findMore('meishi-detail')">More</button> 
                </h6>  
            </div>
            <div class="panel-body">
                <ul>
                    <li ng-repeat="shop in shops| filter:query | orderBy:orderProp" style="float: left;padding: 2px;">
                        <div class="profile">
                            <div class="thumbnail">
                                <img src="app/img/41891491_m.jpg" alt="123">                                
                            </div>
                            <div class="caption">
                                <h5> 
                                    <a href="#/meishi/{{shop.id}}">{{shop.name}}</a><span class="title">人均消费:</span><strong>{{shop.rjxf}}</strong>元<br>                             
                                </h5>
                                <p>  
                                    <span class="content-rank-stars content-stars-{{shop.hot}}"></span><br>
                                    <span class="title">特色:</span>{{shop.tese}}<br>
                                    <span class="label label-primary">{{shop.huodong}}</span>
                                </p>   
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="qicheTab">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h6 class="panel-title">
                    <span class="title">爱阅读</span>
                    <button type="button" class="btn btn-xs btn-success right" ng-click="">More</button> 
                </h6>
            </div>
            <div class="panel-body">                
                <ul>
                    <li ng-repeat="shop in shops| filter:query | orderBy:orderProp" style="float: left;padding: 2px;">
                        <div class="profile">
                            <div class="thumbnail">
                                <img src="app/img/41891491_m.jpg" alt="123">                                
                            </div>
                            <div class="caption">
                                <h5>
                                    <a href="#/shops/{{shop.id}}">{{shop.name}}</a>                              
                                </h5>
                                <p>  
                                    <span class="content-rank-stars content-stars-{{shop.hot}}"></span><br>
                                    <span class="title">人均消费:</span><strong>{{shop.rjxf}}</strong>元<br>
                                    <span class="title">特色:</span>{{shop.tese}}<br>
                                    <span class="label label-primary">{{shop.huodong}}</span>
                                </p>   
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

