<div class="container">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-7 left">  
            <div class="container" ng-controller="MeiShiFilterController" style="margin-bottom: 20px;">
                <div class="row" style=" padding-top: 5px;padding-bottom: 5px;">
                    <div class="col-md-1 text-right">
                        <a class="text-primary ">搜索</a> 
                    </div>
                    <div class="col-md-5" >
                        <input class="searchBar"  ng-model="meiShiFilter.searchText"/>
                    </div>
                    <div class="col-md-5">
                        <span class="text-primary ">搜索</span><small>
                            <input type="radio" ng-model="orderProp" value="index" class="orderProp"/>人气
                            <input type="radio" ng-model="orderProp" value="rjxf" class="orderProp"/>人均消费
                            <input type="radio" ng-model="orderProp" value="name" class="orderProp"/>名称
                        </small>     
                    </div>            
                </div>
                <div class="row" style=" padding-top: 5px;padding-bottom: 5px;">
                    <div class="col-md-1 text-right">
                        <a class="text-primary ">已筛选</a> 
                    </div>
                    <div class="col-md-11" >
                        <li style="float: left" ng-repeat="f in meiShiFilter.filters">
                            <a ng-click="removefilterCatelog(f);">{{f.key}}:{{f.value}}</a>
                        </li>
                    </div>
                </div>
                <div class="row" style=" padding-top: 5px;padding-bottom: 5px;">
                    <div class="col-md-1 text-right">
                        <a class="">类别</a> 
                    </div>
                    <div class="col-md-11">
                        <ul>
                            <li style="float: left" ng-repeat="c in  ['小吃', '中式快餐', '点心', '生活百科']">
                                <a ng-click="filterCatelog(c);">{{c}}</a>
                            </li>
                        </ul>
                    </div>
                </div> 
            </div>
            <ul>
                <li ng-repeat="shop in shops| filter: meiShiFilter.filterDetail | orderBy:orderProp" style="float: left;padding: 2px;">
                    <div class="profile">
                        <div class="thumbnail">
                            <img src="app/img/41891491_m.jpg" alt="123">                                
                        </div>
                        <div class="caption">
                            <h5>
                                <a href="#/shops/{{shop.id}}">{{shop.name}}</a>                              
                            </h5>
                            <p>  
                                <span class="content-rank-stars content-stars-{{shop.hot}}"></span><br>
                                <span class="title">人均消费:</span><strong>{{shop.rjxf}}</strong>元<br>
                                <span class="title">特色:</span>{{shop.tese}}<br>
                                <span class="label label-primary">{{shop.huodong}}</span>
                            </p>   
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-5 right">
            Your name: <input type="text" ng-model="yourname" placeholder="World">
            <hr>
            Hello {{yourname|| 'World'}}!
        </div>
    </div>
</div>
