*{
    padding: 0px;  
}

li{
    list-style: none;
    padding-top: 3px;    
}

.nodisplay{
    display: none;
}

.right{
    float: right;
}

.left{
    float: left;
}

.Pleft8{
    padding-left: 8px; 
}

.Pright8{
    padding-right: 8px;
}

/*Main Frame Style*/
#topHead{
    margin: auto;
    display: block;
    height: 30px;
    background-color: #dd4814;
}

#topHead a{
    display: inline-block;
    width: 40px;
    color: white;
    line-height: 1.8em;
    float: right;
}

#topInfo{
    margin-bottom: 20px;
}

#topSearch{

}

#topSearch{
    margin-bottom: 20px;
}

#container{
    padding-bottom: 70px;
}

#bottom{
    margin: auto;
    height: 55px; 
    background-color: #f5f5f5;   
    border-top:  #DD4814 solid 5px;
    text-align: center;
}
/*Main Frame Style*/

/*Baidu Search Style*/
.search_form{
    display: block;
    width: 100%;
    height: 76px; 
    padding-left: 20px;
}

.search_logo{
    float: left;
    width: 10%;
    height: 100%;  
    min-width: 100px;
    margin: 10px 10px 0px 20px;
    border: 0px none;
    outline: 0px none;
}

.search_content{
    display: block;
    width: 100%;  
}

.search_input{
    width: 60%;
    height:36px; 
    margin: 10px 0px 0px 7px;
    font: 16px/18px arial;    
    background: none repeat scroll 0% 0% transparent;
    border:#0000cc 1px solid;
    outline: 0px none;

}

.search_submit{
    width: 10%;
    height:36px; 
    min-width: 90px;
    color: white;
    background:no-repeat scroll 0% 0% #3385FF;
    border: none;
    margin-left: -4px;
}
/*Baidu Search Style*/

/*Weblink Style*/
#weblinks div.panel,#webshortcuts div.panel{
    height: 182px;
    border: #DD4814 1px solid;
    overflow: hidden;
}

.weblinks li,.webshortcuts li,.filter li{
    float: left;
}

.weblinks li{
    width: 118px;
    height: 30px;
    text-align: center;
}

.webshortcuts li{
    width: 125px;
    height: 45px; 
    text-align: left;
}

.filter li{
    min-width: 62px;
    height: 30px;
    text-align: center;
}

.weblinks li a,.webshortcuts li a,.filter li.ng-scope a{
    display: inline-block;
    color: black; 
    text-decoration: none;
}

.weblinks li a{
    width: 107px;
    height: 26px; 
}

.weblinks li a img{
    height: 20px;
}

.weblinks li a:hover,.filter li.ng-scope a:hover{
    color:#dd4814;
    border: 1px solid #AAD4FA;
    background-color: #EAF4FE;
}

.webshortcuts li img{
    width: 60px;
    height: 42px; 
    padding: 2px;
}

.webshortcuts li span{
    font-size: 15px;
}
/*Weblink Style*/

.filter li a{
    min-width: 80px;
    height: 26px; 
}

.filter li a.filters{
    min-width: 100px;
    border: 1px solid #ddd;
}

.filter li a.filters i {
    position: absolute;
    width: 25px;
    height: 22px;
    background: url('../img/i.png') no-repeat 7px -140px;
}

.carousel{
    margin-top: 20px;
    margin-bottom: 20px;
}

.carousel .carousel-control{
    display: block;
    top:45%;
    width: 40px;
    height: 40px;
    font-size: 60px;
    font-weight: 100;
    text-align: center;
    line-height: 24px;
    background: none repeat scroll 0% 0% #222;
    border: 3px solid #FFF;
    border-radius: 23px;
}

.carousel .carousel-caption{
    background: none repeat scroll 0% 0% #222;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0.5;
}

.carousel .carousel-indicators{             
    bottom: 2px;
}

/*Cart Style*/
#cart-detail{
    width: 100%;
}

#cart-detail li.cart-content{
    display:block;
    /*height: 36px;*/
}

.cart-logo{
    display:inline-block;
    background-image: url('../img/cart.png');
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    margin-bottom: -4px;
    margin-right: 10px;
}

.cart-add{
    float: right;
    margin-top: 16px;
}

.cart-clear{
    position: relative;
    margin-top: 8px;
    margin-right: 8px;
    float: right;
    z-index: 9999;
}

.cart-del{
    float: right; 
    z-index: 9999;
}

.cart-qty{
    padding: 2px;
    float: right; 
}

.cart-qty .less,.cart-qty .more{
    display: inline-block;
    width: 16px;
    padding: 2px 1px 2px 1px;
    border: #DD4814 solid 1px;
    text-align: center;
    text-decoration: none;
}

.cart-submit{
    position:relative;
    float: right;    
    margin-top: 8px;
    margin-right: 8px;
    z-index: 9999;
}
/*Cart Style*/

input.orderProp{
    margin-left: 5px;
    margin-right: 5px;
}

.navbar-header button.navbar-toggle{
    margin-right: 0px;
}


.panel-body .ui-datalist-item{
    margin: 0px 1px 1px -30px;
    position: relative;
    overflow: hidden;
    padding-right: 50px;
    white-space: nowrap;
    text-overflow:ellipsis;
    -ms-text-overflow: ellipsis;/* IE/Safari */
    -o-text-overflow: ellipsis;/* Opera */
    -moz-binding: url("ellipsis.xml#ellipsis");/*FireFox*/ 
}

.panel-body .ui-datalist-item span {
    margin-right: -40px;
}

.panel-body .ui-datalist-item .date{
    float: right;
}

.panel-body ul{
    padding-left: 16px;
}

li div.profile{
    height: 270px;
    width: 192px; 
}

li div.thumbnail img{
    height: 121px;
    width:182px; 
}

li div.profile h5.title,li div.profile h5.title strong,li div.profile h5.title span,
li div.profile h6.title,li div.profile h6.title strong,li div.profile h6.title span,
li div.profile span.title{
    padding-left: 8px; 
}

.panel-title span{
    display: inline-block;
}

.panel-title small{
    padding-left: 20px;
}

.panel-body .pic{
    float: left; 
    background-color: transparent;
}

.panel-body .pic img{
    width: 72px;
    height: 72px;  
}

.panel-body .text{
    margin-left: 80px; 
}

.panel-body h5{
    padding-left: 10px;
}

.panel-body p{
    padding: 5px 10px 0px 10px;
}

.content-stars-rank{ 
    display: inline-block;
    height: 12px;
    width: 78px;
    background-image: url("../img/remark-shop.png");
    background-repeat:  no-repeat;
}

.content-stars-5,.content-stars-50{
    background-position: 0px -880px;
}

.content-stars-45{
    background-position: 0px -900px;
}

.content-stars-4,.content-stars-40{
    background-position: 0px -920px;
}

.content-stars-35{
    background-position: 0px -940px;
}

.content-stars-3,.content-stars-30{
    background-position: 0px -960px;
}

.content-stars-25{
    background-position: 0px -980px;
}

.content-stars-2,.content-stars-20{
    background-position: 0px -1000px;
}

.nav-pills .navbar-toggle .icon-bar {
    background-color: #dd4814;
}

a.backtop{
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 70px;
    height: 70px;
    background:transparent url("../img/backtotop.png") no-repeat scroll center center;
    z-index: 999;
}
