*{
    padding: 0px;  
}

li{
    list-style: none;
    padding-top: 3px;    
}
/*-------------------------------网站整体布局*/
#topHead{
    margin: auto;
    display: block;
    height: 45px;
    background-color: #dd4814;
}

#topInfo{

}

#topSearch{

}

#topSearch{
    margin-bottom: 20px;
}

#container{
    padding-bottom: 70px;
}

#bottom{
    margin: auto;
    height: 55px; 
    background-color: #f5f5f5;   
    border-top:  #DD4814 solid 5px;
    text-align: center;
}
/*-------------------------------网站整体布局*/

/*------------------------------百度搜索框*/
.search_form{
    display: block;
    width: 100%;
    height: 76px; 
    padding-left: 20px;
}

.search_logo{
    float: left;
    width: 10%;
    height: 100%;  
    min-width: 100px;
    margin: 30px 10px 0px 20px;
    border: 0px none;
    outline: 0px none;
}

.search_content{
    display: block;
    width: 100%;  
}

/*.search_content ul{
    display: block;
    height: 22px;
    padding-top: 10px;
}

.search_content ul li{
    float: left;
    width: 60px;
    text-align: center;
}

.search_content a.search_title{
    color: #0000cc;
    text-decoration: none;
}

.search_content a.search_title:hover{
    color: #DD4802;
}*/

.search_input{
    min-width:460px;
    height:36px; 
    margin: 30px 0px 0px 7px;
    font: 16px/18px arial;    
    background: none repeat scroll 0% 0% transparent;
    border:#0000cc 1px solid;
    outline: 0px none;

}

.search_submit{
    width: 10%;
    height:36px; 
    min-width: 90px;
    color: white;
    background:no-repeat scroll 0% 0% #3385FF;
    border: none;
    margin-left: -4px;
}
/*------------------------------百度搜索框*/

/*------------------------------------------导航信息*/
#weblinks div.panel,#webshortcuts div.panel{
    min-height: 182px;
    border: #DD4814 1px solid;
}

.weblinks,.webshortcuts{
    display: inline-block;
}

.weblinks li,.webshortcuts li{
    float: left;
}

.weblinks li{
    width: 118px;
    height: 30px;
    text-align: center;
}

.webshortcuts li{
    width: 125px;
    height: 45px; 
    text-align: left;
}

.weblinks li a,.webshortcuts li a{
    display: inline-block;
    color: black;
    text-decoration: none;
}

.weblinks li a{
    width: 107px;
    height: 26px; 
}

.weblinks li a:hover{
    color:#dd4814;
    border: 1px solid #AAD4FA;
    background-color: #EAF4FE;
}

.webshortcuts li img{
    width: 60px;
    height: 42px; 
    padding: 2px;
}

.webshortcuts li span{
    font-size: 15px;
}

.weblinks li a img{
    height: 20px;
}
/*------------------------------------------导航信息*/

#cart-detail{
    width: 100%;
}

.cart-go{
    margin-top: -10px;
    /* width: 50px; */
    float: right;
}

.cart-add{
    float: right;
    margin-top: 16px;
    margin-right: 30px;
}

.cart-clear{
    position: relative;
    margin-top: 8px;
    margin-right: 8px;
    float: right;
    z-index: 9;
}

.cart-del{
    position: relative;
    padding: 2px;
    margin-top: 6px;
    float: right;
    z-index: 9;
}

.cart-qty{
    margin-right:10px;
    float: right;
}

.cart-qty .less,.cart-qty .more{
    display: inline-block;
    width: 12px;
    margin-left: 3px;
    margin-right: 3px;
    border: #DD4814 solid 1px;
    text-align: center;
    text-decoration: none;
}

.cart-submit{
    position:relative;
    float: right;    
    margin-top: 8px;
    margin-right: 10px;
    z-index: 99;
}

input.orderProp{
    margin-left: 5px;
    margin-right: 5px;
}

.navbar-header button.navbar-toggle{
    margin-right: 0px;
}


.panel-body .ui-datalist-item{
    margin: 0px 1px 1px -30px;
    position: relative;
    overflow: hidden;
    padding-right: 50px;
    white-space: nowrap;
    text-overflow:ellipsis;
    -ms-text-overflow: ellipsis;/* IE/Safari */
    -o-text-overflow: ellipsis;/* Opera */
    -moz-binding: url("ellipsis.xml#ellipsis");/*FireFox*/ 
}

.panel-body .ui-datalist-item span {
    margin-right: -40px;
}

.panel-body .ui-datalist-item .date{
    float: right;
}

.panel-body ul{
    padding-left: 16px;
}

li div.profile{
    height: 270px;
    width: 192px; 
}

li div.profile h5 span.title{
    padding-left: 5px; 
}

.panel-title span{
    display: inline-block;
}

.panel-title span.title{
    min-width: 160px;    
}

.panel-title small{
    padding-left: 20px;
}

.panel-body .pic{
    float: left;
    background-color: transparent;
}

.panel-body .pic img{
    width: 72px;
    height: 72px;  
}

.panel-body .text{
    margin-left: 80px;
}

.panel-body h5{
    padding-left: 10px;
}

.panel-body p{
    padding: 5px 10px 0px 10px;
}

.content-rank-stars{ 
    display: inline-block;
    height: 12px;
    width: 78px;
    background-image: url("../img/remark-shop.png");
    background-repeat:  no-repeat;
}

.content-stars-50{
    background-position: 0px -880px;
}

.content-stars-45{
    background-position: 0px -900px;
}

.content-stars-40{
    background-position: 0px -920px;
}

.content-stars-35{
    background-position: 0px -940px;
}

.content-stars-30{
    background-position: 0px -960px;
}

.content-stars-25{
    background-position: 0px -980px;
}

.content-stars-20{
    background-position: 0px -1000px;
}

.nav-pills .navbar-toggle .icon-bar {
    background-color: #dd4814;
}

.cartLogo{
    background-image: url('../img/cart.png');
    background-repeat: no-repeat;
    margin-top: 14px;
}

